*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html {
    line-height: 1.15;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: 400 16px/1.5 consolas;
    background-color: #000;
    color: #fff;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.wrapper {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    overflow: hidden;
}

.wrapper-container {
    height: 100%;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .wrapper-container {
        padding: 4rem;
    }
}

.inner-wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 3px;
}

.inner-wrapper>div {
    height: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
}

.particles-wrapper {
    height: calc(100vh - 20%);
    width: calc(100vw - 60%);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* navigation menu */

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-item-group {
    list-style-type: none;
}

li.nav-item {
    display: inline-block;
    margin-right: 6px;
    font-size: 2rem;
}

.brand {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 130%;
}

/* content */

.hero-content {
    width: 100%;
    text-align: center;
}

.leading-title, .leading-paragraph {
    margin-bottom: 1.5rem;
}

.leading-title {
    font-weight: 700;
    letter-spacing: 5px;
}

@media screen and (min-width: 992px) {
    .leading-title {
        font-size: 400%;
        margin-top: 0;
    }
}

.leading-paragraph {
    max-width: 600px;
    border: solid 30px rgba(255, 255, 255, 0.054);
    border-top-color: rgba(97, 0, 0, 0.341);
    outline: solid 50px rgba(255, 255, 255, 0.024);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #b9b9b9;
}

.leading-paragraph strong {
    color: #099486;
}

footer.footer {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 80%;
    border-top: solid 1px #404040;
}

.footer-signature {
    text-align: left;
}

/* UI */

.button {
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-size: 90%;
    background-color: #0bc9b6;
    border: solid 1px #0bc9b6;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    outline: none;
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* transition: all 200ms ease; */
}

.button .button-icon {
    margin-right: .6rem;
}

.button:hover {
    background-color: #099486;
    border: solid 1px #099486;
    cursor: pointer;
}

.button:active {
    /* transform: scale(.9); */
    transition: all 20ms linear !important;
}

/* popup */

.popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 30px;
    background-color: rgba(27, 27, 27, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 800;
    overflow: hidden;
    visibility: hidden;
}

.popup {
    max-width: 500px;
    height: auto;
    background-color: #fff;
    color: #333;
    border: solid 1px #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}

.popup-header, .popup-body, .popup-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.popup-header {
    position: relative;
}

.popup-close-button {
    position: absolute;
    top: -13px;
    right: -13px;
    padding: 0;
    border: solid 1px #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

.popup-close-button>i {
    color: #333;
}

.popup-body {
    margin: 1rem 0;
}

.popup-footer {
    justify-content: flex-end;
}

.popup-wrapper.hidden {
    visibility: hidden;
    transition: 400ms all linear;
}

.popup-wrapper.visible {
    visibility: visible;
}

.popup-wrapper.hidden>.popup {
    animation-name: closePopup;
    animation-timing-function: ease;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.popup-wrapper.visible>.popup {
    animation-name: openPopup;
    animation-timing-function: ease;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@-webkit-keyframes openPopup {
    0% {
        transform: scale(.3)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes openPopup {
    0% {
        transform: scale(.3);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes closePopup {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.3);
    }
}

@keyframes closePopup {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.3);
    }
}

/* Aux */

#axbl, #axtr {
    border-radius: 4px;
    border: dashed 5px rgba(236, 255, 132, 0.17);
    z-index: 0;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgba(17, 57, 52, 0.514);
    opacity: .3;
}

#axbl {
    height: calc(100vh - -20%);
    width: calc(100vw - 30%);
    left: -275px;
    bottom: -500px;
}

#axtr {
    height: calc(100vh - 40%);
    width: calc(100vw - 33%);
    right: -323px;
    top: -244px;
}